@use "../../utilities/variables" as *;
@use"../../utilities/mixins" as *;
.about{
    @include flex (space-between,center);
    font-family: "Kanit", sans-serif;
    @media screen  and (max-width:768px){
        flex-direction: column;
        .chef{
            width: 300px;
        }
}
}
.chef{
    margin-left: 10%;
}
.us{
    color:$primary-color
}
.h1-about{
    font-size: 50px;
}
.features{
    @include flex (space-between,center);  
}
.reasons{
    padding: 1px;
    border: 1px solid $light-grey;
    border-radius: 10px;
    width: 70%;
    background-color: $light-grey;
    margin-right: 1%;
    
}
.background-2{
    background-color: $black;
    width: 70px;
    height: 50px;
    display: flex; 
    align-items: center;
    border: 10px solid;
    border-radius: 100%;
    margin-left: 10%;
    padding: 1px;
}

.fresh{
    display: flex;
    gap: 20px;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 50px;
    background-color: white;
}
.fast{
    display: flex;
    gap: 20px;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 50px;
    background-color: white; 
}
.best-quality{
   display:flex;
    gap: 20px;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 50px;
    background-color: white;
    margin-bottom: 10%;
}
.best{
    gap: 5px;
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 20%;
    background-color: white;
    margin-bottom: 10%;   
}