@use "../../utilities/variables" as *;
@use"../../utilities/mixins" as *;
.footer{
    @include flex (center,center);
    justify-content: space-between;
    font-family: "Kanit", sans-serif;
    background-color: $black;
    padding: 10px;
    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
      }
}
.pizzara{
    margin: 10px;
.stay{
    color: white;
    padding: 10px;
}
}
.links{
    color: white;
    .footer-links{
        list-style: none;
        li{
            &:hover{
            color: $primary-color; 
            }
}
    }
}
.subscribe{
    margin:10px ;
    .newsletter{
        color: white;
    }
    .btn-subscribe{
        background-color: $primary-color;
        &:hover{
            background-color: #333;
        }
    }

}