@use "../../utilities/variables" as *;
@use"../../utilities/mixins" as *;
 .hero-section{
    @include flex (space-between,center);
   font-family: "Kanit", sans-serif;
    padding: 20px;
    margin: 10px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      text-align: center; 
    }
 }
 .h1-heading{
   font-size: 70px;
   @media screen and (max-width: 576px) {
      font-size: 40px; 
    }
 }
 .paragraph{
   font-size: 20px;
   @media screen and (max-width: 576px) {
      font-size: 16px; 
    }
 }
 p{
    font-size: 1.2rem;
    counter-reset: #333;
    margin-bottom: 1rem;
   
 }

.orange{
   color: $primary-color;
}
.search-bar{
   outline: none;
   border: none;
   @media screen and (max-width: 576px) {
      flex-direction: column;
    }
}
 .btn{
   width: 90px;
   height: 60px;
   padding: 0.5rem 1rem;
   background-color: black;
   color: #fff;
   outline: none;
   border: none;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   cursor: pointer;
   &:hover{
    background-color: #444;
   }
   @media screen and (max-width: 576px) {
      width: 100%; 
      border-radius: 10px; 
    }
 }
 .input{
   width: 200px;
   height:60px;
   border:none;
   outline:none;
   color:$light-grey;
   @media screen and (max-width: 576px) {
      width: 100%;
    }
 }
 .reviews{
   @include flex(space-between,center);
   margin:2rem 0;
   width:450px;
   @media screen and (max-width: 768px) {
      flex-direction: column;
      width: 100%;
      gap: 10px;
    }
}
.review-box{
   padding: 1PX;
   align-items: center;
   text-align: center;
   border: 1px solid $light-grey;
   border-radius: 10px;
   width: 30%;
   background-color: $light-grey;
   @media (max-width: 768px) {
      width: 100%; 
    }
}
.background-1{
   @include flex(space-between,center);
   align-items: center;
   background-color: $black;
   width: 70px;
   height: 50px;
   display: flex; 
   border: 10px solid;
   border-radius: 50%;
   margin-left: 28%;
   padding: 1px;
}
.img{
   @include flex(space-between,center);
   padding-left: 2%;
  width:50px;
  height:50px;
  border-radius:50%;
}
.pizza-hero{
   padding-left: 30px;
   margin-right: 200px;
   padding-top: 30px;
   @media (max-width: 768px) {
      margin-right: 0;
      padding-left: 0;
      text-align: center;
    }
  
}
.big-pizza{
   @include flex(center,center,column);
   @media (max-width: 768px) {
      .pizza-image img {
        width: 60%;
      }
}
}