@use "../../utilities/variables" as *;
@use"../../utilities/mixins" as *;
nav{
    background-color: $light-grey;
    .nav{
        padding: -4px;
       @include flex(space-between,center)
    }
    ul{
        @include flex(space-between,center)
      
    }  
}
a{
    padding: 10px;
    display: inline-block;
    &:hover{
        background-color: $primary-color;
        color: white;
}
}
.nav-center{
    @include flex(space-between,center);
    display: inline-block;
}
.nav-right{
   @include flex(space-between,center);
   .fa-bars{
     display:none;
   }
}
// media queries 
@media (max-width: 600px){
    .nav-center{
       display: none;
    }
    .nav-right{
        @include flex(space-between,center);
    .fa-bars{
        display:inline-block;
       }
    }
}  