@use "../../utilities/variables" as *;
@use"../../utilities/mixins" as *;
.support-section{
    font-family: "Kanit", sans-serif;
    margin-bottom: 30px;
   
      
}
.need{
    color: $primary-color;
    text-align: center;
    @media screen  and (max-width:768px){
        flex-direction: column;
}
}
.center-h1{
    font-size: 40px;
    text-align: center;
    .our{
        color: $primary-color;
    }
    @media screen  and (max-width:768px){
        flex-direction: column;
}
}
.support-box{
    @include flex (space-between,center);
    @media screen  and (max-width:768px){
    flex-direction: column;
    gap: 30px;
    }
}
.mail{
    padding: 1px;
    align-items: center;
    text-align: center;
    border: 1px solid $light-grey;
    border-radius: 10px;
    width: 30%;
    background-color: $light-grey;
    .gray{
        color: $secondary-color;
    }
}
.support{
    padding: 1px;
    align-items: center;
    text-align: center;
    border: 1px solid $light-grey;
    border-radius: 10px;
    width: 30%;
    background-color: $light-grey;
    .gray{
        color: $secondary-color;
    }
}
.call{
    padding: 1px;
    align-items: center;
    text-align: center;
    border: 1px solid $light-grey;
    border-radius: 10px;
    width: 30%;
    background-color: $light-grey;
    .gray{
        color: $secondary-color;
    }
}